{% include 'header.html.twig' %}
<div id="nawigacja">
        <nav>
        <ul>
          <li><a href="http://localhost/ProjektJC/pub/">Strona Główna</a></li>
          <li><a href="http://localhost/ProjektJC/pub/login">Logowanie</a></li>
          <li><a href="http://localhost/ProjektJC/pub/register">Rejestracja</a></li>
          <li><a href="http://localhost/ProjektJC/pub/admin">admin</a></li>
          <li><a href="http://localhost/ProjektJC/pub/upload">Dodaj Mema</a></li>
        </ul>
      </nav>

    </div>
<div id="pageContainer">
<table>
    <tr>
    <th>Miniatura</th>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Czas</th>
    <th>Wyklucz</th>
    </tr>
    {% for post in postArray %}
        <tr>
        <td><img class="thumbnail"
                src="{{post.getFilename()}}"></td>
        <td>{{ post.getTitle() }} </td>

        <td>{{post.getAuthorName() }}</td>
        <td>{{ post.getTimestamp() }} </td>
        <td>
        <a href="admin/remove/{{post.getId()}}">BAN</a>
        </td>
        <tr>
    {% endfor %}
</table>
</div>
{% include 'footer.html.twig' %}