{% include 'header.html.twig' %}
<div id="pageContainer">
<h1>{{pageTitle}}</h1>
{% if  user is defined %}
<div id="loggedUser">
    Zalogowany użytkownik: {{ user.getName }}
</div>   

{% endif%}
{% for post in postArray %}

<div id="nawigacja">
    <nav>
        <ul>
          <li><a href="http://localhost/ProjektJC/pub/">Strona Główna</a></li>
          <li><a href="http://localhost/ProjektJC/pub/login">Logowanie</a></li>
          <li><a href="http://localhost/ProjektJC/pub/register">Rejestracja</a></li>
          <li><a href="http://localhost/ProjektJC/pub/admin">admin</a></li>
          <li><a href="http://localhost/ProjektJC/pub/upload">Dodaj Mema</a></li>
        </ul>
      </nav>
      

    </div>

<div id="post">
    <h6>Tytuł: {{post.getTytuł()}}</h6>
    <h6>Autor: {{post.getAuthorName()}}</h6>
    <img src="{{post.getFilename()}}">
    <h6>Data dodania: {{post.getTimestamp()}}</h6>
    <h6>Ilość polubień: {{post.getLikeCount()}}</h6>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="postID" value="{{ post.getID }}">
        <input type="hidden" name="userID" value="{{ user.getID }}">
        <button type="submit" name="like">+</button>
    </form>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="postID" value="{{ post.getID }}">
        <input type="hidden" name="userID" value="{{ user.getID }}">
        <button type="submit" name="dislike">-</button>
    </form>
    


</div>

{% endfor %}  
{% include 'footer.html.twig' %}    
</div>